<main class="main">

    <!-- Hero Section Burası Kayan Ekran -->
    <section id="hero" class="hero section dark-background">

        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">


            <div class="carousel-item">
                <img src="assets/img/hero-carousel/Bio-Klimatik-Pergole-Modelleri.jpg" alt="">
                <div class="carousel-container">
                    <div>
                        <h2><span>Bio</span>Klimatik Tente</h2>
                        <a  class="btn-get-started" asp-controller="Contact" asp-action="Index">Satın al</a>
                    </div>
                </div>
            </div><!-- End Carousel Item -->

            <div class="carousel-item active">
                <img src="assets/img/hero-carousel/Giyotin-Cam-Sistemi-1280x500.jpg" alt="">
                <div class="carousel-container">
                    <div>
                        <h2><span>Cam</span> Balkon</h2>
                        <a class="btn-get-started" asp-controller="Contact" asp-action="Index">Satın al</a>
                    </div>
                </div>
            </div><!-- End Carousel Item -->
            <div class="carousel-item">
                <img src="assets/img/hero-carousel/hero-carousel-3.jpg" alt="">
                <div class="carousel-container">
                    <div>

                        <h2><span>Giyotin</span> Cam</h2>
                        <a class="btn-get-started" asp-controller="Contact" asp-action="Index">Satın al</a>
                    </div>
                </div>
            </div><!-- End Carousel Item -->

            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators"></ol>

        </div>

    </section><!-- /Hero Section   Burası Kayan Ekran -->
    <!-- Services Section  -->
    <section id="services" class="services section">

        <!-- Section Title Burası Kategori olacak-->
        <div class="container section-title" data-aos="fade-up">
            <h2>Ürünlerimiz</h2>

            <!-- Bura gibi olacak düzenlem yeri -->
        </div><!-- End Section Title Burası Kategori olacak -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item  position-relative">
                        <!-- <div class="icon">
                          <i class="bi bi-activity"></i>
                        </div> -->
                        <div class="member">
                            <img src="assets/img/properties/Istanbul-Tenteci.jpg" class="img-fluid" alt="" width="300" height="150">
                        </div>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link">
                            <h3>Tente Sistemleri</h3>
                        </a>
                        <p>
                            Tente Sistemleri Fonksiyonel özellikleri ve estetik görüntüsüyle ön plana çıkan Tente modeli, mafsallı
                            tente sınıfının en gelişmiş ve en sağlam Pergola Tente modelidir. Ticari alanlarda veya konutlarda
                            kullanılan pergola tente sistemleri, dış mekanda yaşam kalitesini yükselten ekipmanlardan oluşur. Çok
                            uzun yıllar boyunca kullanılan pergola tente, hava koşullarına karşı en ideal yaşam alanları oluşturmayı
                            sağlar.
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="member">
                            <img src="assets/img/properties/kamelya-branda-570x350.jpg" class="img-fluid" alt="" width="300"
                                 height="150">
                        </div>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link">
                            <h3>Branda Sistemleri</h3>
                        </a>
                        <p>
                            Branda Branda çeşitleri, brandaların örnekleri, branda modelleri, istanbul branda, branda fiyatları,
                            balkon brandası, branda kumaşları, Firmamız Yaygın Servis ağı ile oluşacak arıza veya hasar durumunda
                            çadır veya tente sistemine anında müdale fırsatı sunmaktadır. Fiyat bakımından ve kalite bakımından
                            neden uygunuz ? Biz Tente kumaşları toptan şatışı ve bu ürünlerin imalatını.
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="member">
                            <img src="assets/img/properties/Acilir-Cam-Tavan-Sistemleri.jpg" class="img-fluid" alt="" width="300"
                                 height="150">
                        </div>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link">
                            <h3>Cam Sistemleri</h3>
                        </a>
                        <p>
                            Açılır Cam Tavan Sistemleri Açılır Cam Tavan Sistemleri, Kışın yağmur,kar ve rüzgarı dışarıda
                            bırakabileceğiniz, yaz aylarında ise güneşin tadını doyasıya çıkartabileceğiniz bir yaşam alanına sahip
                            olmaya ne dersiniz ? Sabit Cam Tavan (Veranda) uygun malzeme seçeneği Sabit Cam Tavan (Veranda) Sabit
                            cam tavan kış bahçelerine, teras ve balkon üstlerine yapılabilen.
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">

                        <div class="member">
                            <img src="assets/img/properties/toren-cadiri.jpg" class="img-fluid" alt="" width="300" height="150">
                        </div>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link">
                            <h3>Çadır Sistemleri</h3>
                        </a>

                        <p>
                            Konser tören çadırı gerek kış aylarında oluşabilecek olumsuz hava koşullarından korunmak gerekse yazın
                            daha serin bir hava ortamına sahip olmak için sizlerde bu çadırı yaptırmalısınız. Geniş renk seçeneğimiz
                            ve dayanıklı kumaş modellerimiz ile dilediğiniz her tür marka model brandayı firmamızda bulabilirsiniz.
                            Yapacağımız tüm çalışmalar firmamız tarafından garanti sertifikalı iş teslimatı.
                        </p>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="member">
                            <img src="assets/img/properties/Giyotin-Cam-Sistemi.jpg" class="img-fluid" alt="" width="300"
                                 height="150">
                        </div>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link">
                            <h3>Giyotin Cam Sistemi</h3>
                        </a>
                        <p>
                            Giyotin Cam Sistemi Giyotin Cam Sistemi, Teksan All Clean, modern mimariye uyarlanmış en estetik
                            tasarımdır. Bu uzaktan kumandalı sistem, tam panoramik manzaraya
                        </p>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="member">
                            <img src="assets/img/properties/istanbul-sineklik-fiyatlari.jpg" class="img-fluid" alt="" width="300"
                                 height="150">
                        </div>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link">
                            <h3>Sineklik Sistemi</h3>
                        </a>
                        <p>
                            Evlerimizde, ofislerimizde ve yaşam alanlarımızda en çok ihtiyaç duyulan konforlardan biri temiz hava
                            alırken böcek ve haşerelerden korunmaktır. Sineklik sistemleri, estetik görünümleri ve pratik
                            kullanımlarıyla bu ihtiyaca en ideal çözümü sunar.
                        </p>
                        <a asp-controller="Contact" asp-action="Index" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Testimonials Section kayan ekeran-->
    <section id="testimonials" class="testimonials section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Favori Ürünler</h2>

        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 40
                        },
                        "1200": {
                          "slidesPerView": 3,
                          "spaceBetween": 1
                        }
                      }
                    }
                </script>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Pergola Tente</h3>
                                <img src="assets/img/testimonials/pergola-tente-sistemleri-768x380.jpg" class="testimonial-img"
                                     alt="">


                            </div>
                            <p>
                                Tüm kurum ve kuruluşlardan almış olduğumuz üstün başarı belgesi ve yetki belgeleri ile sizlere
                                güvenilir hizmet sunuyoruz.Her nerede olursanız olun tüm il ilçe semt ve mahallelerde hizmet
                                vermekteyiz. Bizlere bir telefon kadar uzaktasınız.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Çift Açılır Tente</h3>
                                <img src="assets/img/testimonials/cift-acilabilir-tente-300x240.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                Çift açılır tente kurulumu ve kullanımı kolay tente modellerinden sadece biridir.Bu tente sayesinde
                                hem daha sağlıklı bir hava ortamına sahip olursunuz hemde iş yerleriniz daha güzel bire görünüme
                                kavuşmaktadır. taksitli fiyatları akrilik kumaşlı ısı geçirmeyen garanti belgeli kaliteli
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Giyotin Cam Balkon</h3>
                                <img src="assets/img/testimonials/giotin-cam-balkon-962x500.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                İstanbul Cam Balkon İstanbul CamBalkon firmamız kaliteli malzeme ve işçiliğin yanında ekonomik fiyat
                                politikasıyla %100 müşteri memnuniyeti ilkesini benimsemiş ve istanbul cam balkon sektöründe lider
                                olma yolunda ilerlemektedir. 30 mm cam tercihi özelliği ile iki cam arası jaluzi kullanım imkanı
                                sağlamaktadır. Özel tutamak tasarımı, taşıma kapasitesi ile kullanım kolaylığı sağlamaktadır.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Sürgülü Sineklik </h3>
                                <img src="assets/img/testimonials/surgulu-sineklik-sineklikler.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                Sizin mekânlarınıza en uygun olan hangisi ise seçebilirsiniz. Biz hepsinin imalatını yapmaktayız.
                                Sürgülü, sürme sineklik bir ray üzerinde konumlanmıştır. Yana doğru sürülerek açılıp kapatılmaktadır.
                                Sürgülü sineklik fiyatı ne kadar? Linkten ölçülere girerek öğrene bilirsiniz. Renk seçeneklerimiz de
                                vardır.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Körük Tente</h3>
                                <img src="assets/img/testimonials/koruk-tente.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                Körüğü sayesinde yandan gelen güneşi de engelleyebilir ve istenildiği gibi ayarlanabilir.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- /Testimonials Section -->

</main>