<div class="row gy-4 mt-4">
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
            <img src="~/assets/img/service/teknikservis/teknikservis-1.jpg" alt="" class="img-fluid services-img w-100" />
            <a href="#" class="stretched-link">
                <h3 class="text-center mt-2">Nesciunt Mete</h3>
            </a>
        </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
        <div class="service-item position-relative">
            <img src="~/assets/img/service/teknikservis/teknikservis-2.jpg" alt="" class="img-fluid services-img w-100" />
            <a href="#" class="stretched-link">
                <h3 class="text-center mt-2">Nesciunt Mete</h3>
            </a>
        </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
            <img src="~/assets/img/service/teknikservis/teknikservis-3.jpg" alt="" class="img-fluid services-img w-100" />
            <a href="#" class="stretched-link">
                <h3 class="text-center mt-2">Nesciunt Mete</h3>
            </a>
        </div>
    </div>
</div>